.footer {
    background-color: #333; 
    color: white; 
    padding: 20px 0; /* Espaçamento interno (topo e base, esquerda e direita) */
    text-align: center; /* Alinhamento do texto */
    margin-left: -20px;
    margin-top: 200px;
    width: 102%;
  }
  

  .footer p {
    margin: 0; /* Remova as margens padrão */
  }
  